In [3]:
masud=10

def addnumbers(a:int,b:int)->int:
    return a+b


print(addnumbers(2,3))

5

In [7]:


masud=float(10)
type(masud)

float

In [8]:
masud=20
type(masud)

int

In [10]:
capital="haire".capitalize()
print(capital)

Haire

In [13]:
print("1212d".isdigit())

False

In [14]:
mainstring="amar sonar bangla"
replacesentence=mainstring.replace("a","y")
print(replacesentence)

ymyr sonyr byngly

In [19]:
substring=mainstring[2:4]
print(substring)

ar

In [20]:
hairestring="amar sonar bangla"
splitstring=hairestring.split(" ")
print(splitstring)

['amar', 'sonar', 'bangla']

In [26]:
kaisohooo="haire bolod"

jointext="{0}".format(kaisohooo)

In [27]:
print(jointext)

haire bolod

In [29]:
man=["masud","mim","sumaiya"]
print("masud" not in man)

False

In [30]:
del man[1]

In [31]:
print(man)

['masud', 'sumaiya']

In [34]:
indexlist=["masud","superman","sumaiya","jabona"]
print(indexlist[::-1])

['jabona', 'sumaiya', 'superman', 'masud']

In [38]:
for i in range(1,20):
    if i%5==0:
        
        print(i)
        break

5

In [40]:
exitpoint=1
while exitpoint<10:
    print(exitpoint)
    exitpoint=exitpoint+2

1
3
5
7
9

In [41]:
studentlist={
    
    "name":"masudur rahman",
    "address":"japan garden city"
    
}

In [42]:
print(studentlist["name"])

masudur rahman

In [44]:
print(studentlist.keys())

dict_keys(['name', 'address'])

In [45]:
print(studentlist.values())

dict_values(['masudur rahman', 'japan garden city'])

In [46]:
print(studentlist)

{'name': 'masudur rahman', 'address': 'japan garden city'}

In [47]:
studentlist["name"]="sumaiya mehrin"

In [48]:
studentlist

{'address': 'japan garden city', 'name': 'sumaiya mehrin'}

In [49]:
mylist1=["masud","sumaiya"]

In [51]:
try:
    print(mylist1[1])
except Exception:
    print("index error")

sumaiya

In [66]:
examplelist=[]

haire=[121,12112]

In [58]:
def listadd(number):
    examplelist.append(number)
    return examplelist

In [67]:
listadd(4)

[4]

In [55]:
examplelist

[2]

In [62]:
def showalllist():
    print(examplelist)
    print(haire)

In [68]:
showalllist()

[4]
[121, 12112]

In [69]:
def defaultpara(number1,number2=12):
    return number1+number2

In [70]:
print(defaultpara(10))

22

In [88]:
triplemarks=lambda x:x*3
print(triplemarks(10))

30

TypeError: <lambda>() missing 1 required positional argument: 'x'